@using ADV.InternetCrawler.ControlPanel.Models
@model DataPointEditModel

<article class="content items-list-page">
    <div class="title-search-block">
        <div class="title-block">
            <div class="row">
                <div class="col-xs-6">
                    <h3 class="title">
                        @(Model == null ? "Добавить" : "Редактировать") новую точку загрузки данных
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="card items">
        <div class="card-block">
            <section class="table">
                <div class="row sameheight-container">
                    <div class="col-xs-12">
                        @using (Html.BeginForm("EditDataPoint", "DataPoint", FormMethod.Post))
                        {
                            <div class="card card-block">
                                <div class="row sameheight-container">
                                    <div class="col-xs-2 vmiddleright">
                                        @Html.LabelFor(model => model.Name)
                                    </div>
                                    <div class="col-xs-4">
                                        <input name="Name" type="text" class="form-control underlined" value="@Model.Name">
                                    </div>
                                    @if (Model != null)
                                    {
                                        <div class="col-xs-offset-5 col-xs-1 pull-right">
                                            <div class="id">@Model.ID</div>
                                        </div>
                                    }
                                </div>
                                <div class="row sameheight-container">
                                    <div class="col-xs-2 vmiddleright">
                                        @Html.LabelFor(model => model.URI)
                                    </div>
                                    <div class="col-xs-8">
                                        <input name="URI" type="text" class="form-control underlined" value="@Model.URI">
                                    </div>
                                </div>
                            </div>

                            <hr />
                            <div class="card card-block">
                                <div class="title-block">
                                    <h3 class="title"> @Html.DisplayNameFor(model => model.PageURIStart) </h3>
                                </div>
                                <div class="row sameheight-container">
                                    <div class="col-xs-offset-1 col-xs-4">
                                        <div class="form-group">
                                            <label class="control-label">Начало выражения</label>
                                            <input name="PageURIStart" type="text" class="form-control underlined" value="@Model.PageURIStart">
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label">Данные</label>
                                            <input name="PageURIData" type="text" class="form-control underlined" value="@Model.PageURIData">
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label class="control-label">Окончание выражения</label>
                                            <input name="PageURIFinish" type="text" class="form-control underlined" value="@Model.PageURIFinish">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr />
                            <div class="card card-block">
                                <div class="title-block">
                                    <h3 class="title"> @Html.DisplayNameFor(model => model.ItemURIStart) </h3>
                                </div>
                                <div class="row sameheight-container">
                                    <div class="col-xs-offset-1 col-xs-4">
                                        <div class="form-group">
                                            <label class="control-label">Начало выражения</label>
                                            <input name="ItemURIStart" type="text" class="form-control underlined" value="@Model.ItemURIStart">
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label">Данные</label>
                                            <input name="ItemURIData" type="text" class="form-control underlined" value="@Model.ItemURIData">
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label class="control-label">Окончание выражения</label>
                                            <input name="ItemURIFinish" type="text" class="form-control underlined" value="@Model.ItemURIFinish">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr />
                            <div class="card card-block">
                                <div class="title-block">
                                    <h3 class="title"> @Html.DisplayNameFor(model => model.ItemURIStart) </h3>
                                </div>
                                <div class="row sameheight-container">
                                    <div class="col-xs-offset-1 col-xs-4">
                                        <div class="form-group">
                                            <label class="control-label">Начало выражения</label>
                                            <input name="ItemURIStart" type="text" class="form-control underlined" value="@Model.ItemURIStart">
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label">Данные</label>
                                            <input name="ItemURIData" type="text" class="form-control underlined" value="@Model.ItemURIData">
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label class="control-label">Окончание выражения</label>
                                            <input name="ItemURIFinish" type="text" class="form-control underlined" value="@Model.ItemURIFinish">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr />
                            <div class="card card-block">
                                <div class="title-block">
                                    <h3 class="title"> @Html.DisplayNameFor(model => model.ItemNameStart) </h3>
                                </div>
                                <div class="row sameheight-container">
                                    <div class="col-xs-offset-1 col-xs-4">
                                        <div class="form-group">
                                            <label class="control-label">Начало выражения</label>
                                            <input name="ItemNameStart" type="text" class="form-control underlined" value="@Model.ItemNameStart">
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label">Данные</label>
                                            <input name="ItemNameData" type="text" class="form-control underlined" value="@Model.ItemNameData">
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label class="control-label">Окончание выражения</label>
                                            <input name="ItemNameFinish" type="text" class="form-control underlined" value="@Model.ItemNameFinish">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr />
                            <div class="card card-block">
                                <div class="title-block">
                                    <h3 class="title"> @Html.DisplayNameFor(model => model.ItemPriceStart) </h3>
                                </div>
                                <div class="row sameheight-container">
                                    <div class="col-xs-offset-1 col-xs-4">
                                        <div class="form-group">
                                            <label class="control-label">Начало выражения</label>
                                            <input name="ItemPriceStart" type="text" class="form-control underlined" value="@Model.ItemPriceStart">
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label">Данные</label>
                                            <input name="ItemPriceData" type="text" class="form-control underlined" value="@Model.ItemPriceData">
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label class="control-label">Окончание выражения</label>
                                            <input name="ItemPriceFinish" type="text" class="form-control underlined" value="@Model.ItemPriceFinish">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr />
                            <div class="card card-block">
                                <div class="title-block">
                                    <h3 class="title"> @Html.DisplayNameFor(model => model.ItemDiscountPriceStart) </h3>
                                </div>
                                <div class="row sameheight-container">
                                    <div class="col-xs-offset-1 col-xs-4">
                                        <div class="form-group">
                                            <label class="control-label">Начало выражения</label>
                                            <input name="ItemDiscountPriceStart" type="text" class="form-control underlined" value="@Model.ItemDiscountPriceStart">
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label">Данные</label>
                                            <input name="ItemDiscountPriceData" type="text" class="form-control underlined" value="@Model.ItemDiscountPriceData">
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label class="control-label">Окончание выражения</label>
                                            <input name="ItemDiscountPriceFinish" type="text" class="form-control underlined" value="@Model.ItemDiscountPriceFinish">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr />
                            <div class="card card-block">
                                <div class="title-block">
                                    <h3 class="title"> @Html.DisplayNameFor(model => model.ItemArticleStart) </h3>
                                </div>
                                <div class="row sameheight-container">
                                    <div class="col-xs-offset-1 col-xs-4">
                                        <div class="form-group">
                                            <label class="control-label">Начало выражения</label>
                                            <input name="ItemArticleStart" type="text" class="form-control underlined" value="@Model.ItemArticleStart">
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label">Данные</label>
                                            <input name="ItemArticleData" type="text" class="form-control underlined" value="@Model.ItemArticleData">
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label class="control-label">Окончание выражения</label>
                                            <input name="ItemArticleFinish" type="text" class="form-control underlined" value="@Model.ItemArticleFinish">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr />
                            <div class="card card-block">
                                <div class="title-block">
                                    <h3 class="title"> @Html.DisplayNameFor(model => model.ItemPictureUriStart) </h3>
                                </div>
                                <div class="row sameheight-container">
                                    <div class="col-xs-offset-1 col-xs-4">
                                        <div class="form-group">
                                            <label class="control-label">Начало выражения</label>
                                            <input name="ItemPictureUriStart" type="text" class="form-control underlined" value="@Model.ItemPictureUriStart">
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label">Данные</label>
                                            <input name="ItemPictureUriData" type="text" class="form-control underlined" value="@Model.ItemPictureUriData">
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label class="control-label">Окончание выражения</label>
                                            <input name="ItemPictureUriFinish" type="text" class="form-control underlined" value="@Model.ItemPictureUriFinish">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-oval btn-primary btn-lg pull-right" value="Применить">
                        }
                    </div>
                </div>
            </section>
        </div>
    </div>
</article>

