@using ADV.InternetCrawler.Models
@model DataPointStatsModel

<article class="content items-list-page">
    <div class="title-search-block">
        <div class="title-block">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="title">
                        @ViewBag.Title
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="card items">
        <div class="card-block">
            <section class="table">
                <table id="dataPoints" class="table dt-responsive row-border hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.PointID)</th>
                            <th>@Html.DisplayNameFor(m => m.Name)</th>
                            <th>@Html.DisplayNameFor(m => m.Items)</th>
                            <th>@Html.DisplayNameFor(m => m.Rounds)</th>
                            <th>@Html.DisplayNameFor(m => m.LastRound)</th>
                            <th>@Html.DisplayNameFor(m => m.NextRound)</th>
                            <th>@Html.DisplayNameFor(m => m.ErrorLink)</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                </table>
                </section>
        </div>
        </div>
</article>

<div id="SetSchedule"></div>

<script type="text/javascript">
    function LaunchDataPoint(PointID) {
        $.ajax({
            type: "POST",
            url: "@(Url.Action("LaunchDataPoint", "DataPoint"))",
            data: {
                PointID: PointID
            },
            async: true
        });
        $("#aLaunch" + PointID).removeClass("launch");
        $("#aLaunch" + PointID).addClass("launch-disabled");
        $("#aLaunch" + PointID).addClass("btn disabled");
        $("#aRemove" + PointID).addClass("btn disabled");
        $("#aClean" + PointID).addClass("btn disabled");
    }

    function ConfirmAction(URL, Name) {
        if (confirm('Подтвердите ' + Name)) {
            window.location = URL;
        }
    }

    function SetSchedule(PointID) {
        $.ajax({
            url: "@(Url.Action("_DataPointSchedule", "DataPoint"))",
            data: {
                ID: PointID
            },
            type: "POST",
            cache: false,
            async: false,
            success: function (data) {
                $('#SetSchedule').html(data);
            }
        });
    }

            $(document).ready(function () {
                $('#dataPoints').DataTable({
                    //"processing": true,
                    //"serverSide": true,
                    "iDisplayLength": 50,
                    //"responsive": true,
                    "ajax": {
                        "url": "@Html.Raw(Url.Action("GetDataPointStats", "DataPoint"))",
                        "type": "POST",
                        "datatype": "json"
                    },
                    "columns": [
                        {
                            "data": "PointID",
                            "orderable": true,
                            "searchable": true
                        },
                        {
                            "data": "Name",
                            "orderable": true,
                            "searchable": true
                        },
                        {
                            "data": "Items",
                            "orderable": true,
                            "searchable": false
                        },
                        {
                            "data": "Rounds",
                            "orderable": true,
                            "searchable": false
                        },
                        {
                            "data": "LastRound",
                            "orderable": true,
                            "searchable": true,
                            "render": function (data, type, row, meta) {
                                var result = new Date(parseInt(row.LastRound.replace('/Date(', '')));
                                return result.format('dd.mm HH:MM');
                            }
                        },
                        {
                            "data": "NextRound",
                            "orderable": true,
                            "searchable": true,
                            "render": function (data, type, row, meta) {
                                var result = new Date(parseInt(row.NextRound.replace('/Date(', '')));

                                if (result < 0)
                                    result = '- - -';
                                else 
                                    result = result.format('dd.mm HH:MM');

                                return result;
                            }
                        },
                        {
                            "data": "ErrorLink",
                            "orderable": true,
                            "searchable": true,
                            "render": function (data, type, row, meta) {
                                var result = ''

                                if (row.ErrorLink != 0)
                                    result = '<a href="@Url.Action("ShowDataPointLog", "DataPoint")?HeaderID=' + row.ErrorLink + '" target="_blank">ДА</a>';
                                else
                                    result = 'НЕТ';

                                return result;
                            }
                        },
                        {
                            "data": "PointID",
                            "orderable": false,
                            "searchable": false,
                            "render": function (data, type, row, meta) {
                                var result = ''

                                if (row.Ready) {
                                    result = '<a class="launch" id="aLaunch' + row.PointID + '" href="javascript:LaunchDataPoint(' + row.PointID + ')"><i class="fa fa-play"></i></a>';
                                }
                                else {
                                    result = '<a class="launch-disabled" id="aLaunch' + row.PointID + '"><i class="fa fa-play"></i></a>';
                                }

                                result = result + '<a class="edit" href="@Url.Action("EditDataPoint", "DataPoint")/' + row.PointID + '"><i class="fa fa-pencil"></i></a>';

                                result = result + '<a class="schedule" href="#" onclick="SetSchedule(\'' + row.PointID + '\')"><i class="fa fa-calendar"></i></a>';

                                if (row.Ready) {
                                    result = result + '<a class="clean" id="aClean' + row.PointID + '" href="#" onclick="ConfirmAction(\'@Url.Action("CleanDataPoint", "DataPoint")/' + row.PointID + '\', \'очищение\');"><i class="fa fa-circle-thin"></i></a>';
                                }
                                else {
                                    result = result + '<a class="clean btn disabled" id="aClean' + row.PointID + '"><i class="fa fa-circle-thin"></i></a>';
                                }

                                if (row.Ready) {
                                    result = result + '<a class="remove" id="aRemove' + row.PointID + '" href="#" onclick="ConfirmAction(\'@Url.Action("RemoveDataPoint", "DataPoint")/' + row.PointID + '\', \'удаление\');"><i class="fa fa-trash-o"></i></a>';
                                }
                                else {
                                    result = result + '<a class="remove btn disabled" id="aRemove' + row.PointID + '"><i class="fa fa-trash-o"></i></a>';
                                }

                                return result;
                            }
                        }
                    ],
                    "order": [[0, "asc"]],
                    "language": {
                        "processing": "Подождите...",
                        "search": "Поиск:",
                        "lengthMenu": "Показать _MENU_ записей",
                        "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                        "infoEmpty": "Записи с 0 до 0 из 0 записей",
                        "infoFiltered": "(отфильтровано из _MAX_ записей)",
                        "infoPostFix": "",
                        "loadingRecords": "Загрузка записей...",
                        "zeroRecords": "Записи отсутствуют.",
                        "emptyTable": "В таблице отсутствуют данные",
                        "paginate": {
                            "first": "Первая",
                            "previous": "Предыдущая",
                            "next": "Следующая",
                            "last": "Последняя"
                        },
                        "aria": {
                            "sortAscending": ": активировать для сортировки столбца по возрастанию",
                            "sortDescending": ": активировать для сортировки столбца по убыванию"
                        }
                    }
                });
            });
</script>