<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADV.Crawler Admin. @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/DataTables")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    <div class="main-wrapper">
        <div class="app" id="app">
            <header class="header">
                <div class="header-block header-block-collapse d-lg-none d-xl-none">
                    <button class="collapse-btn" id="sidebar-collapse-btn">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <div class="header-block header-block-nav">
                    @*@Html.Partial("_LoginPartial")*@
                </div>
            </header>
            <aside class="sidebar">
                <div class="sidebar-container">
                    <div class="sidebar-header">
                        <div class="brand">
                            <div class="logo">
                            </div> ADV.Crawler
                        </div>
                    </div>
                    <nav class="menu">
                        <ul class="sidebar-menu metismenu" id="sidebar-menu">
                            <li>
                                <a href="index.html">
                                    <i class="fa fa-home"></i> Главная
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-database"></i> Управление точками
                                    <i class="fa arrow"></i>
                                </a>
                                <ul class="sidebar-nav">
                                    <li>
                                        @Html.ActionLink("Создать", "EditDataPoint", "DataPoint")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Список", "ShowDataPoint", "DataPoint")
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-th-large"></i> Управление товарами
                                    <i class="fa arrow"></i>
                                </a>
                                <ul class="sidebar-nav">
                                    <li>
                                        <a href="charts-flot.html"> Список </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <footer class="sidebar-footer"></footer>
            </aside>
            <div class="sidebar-overlay" id="sidebar-overlay"></div>
            <div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
            <div class="mobile-menu-handle"></div>

            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/ModularCode")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/Custom")

    @RenderSection("scripts", required: false)
</body>
</html>
